{{#if this.shouldRender}}
  <DButton @action={{action "hidePopup"}} @icon="times" @class="add-to-homescreen-outlet__button btn-flat" />
  <div class="add-to-homescreen {{if this.showPopupTimer 'show'}}">
    <MountWidget @widget="home-logo" @class="add-to-homescreen-outlet__logo"/>
    <span class="add-to-homescreen__description">
      {{html-safe this.PWALabel}} {{d-icon "arrow-down"}}
    </span>
  </div>
{{/if}}