.add-to-homescreen-outlet {
  padding: 1em 1.75em 1.5em;
  background-color: var(--secondary);
  z-index: 999;
  position: sticky;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.5s all ease-in-out;
  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }
  #site-logo {
    max-width: calc(100% / 4);
  }
  .text-logo {
    color: var(--primary);
  }
}

.add-to-homescreen-outlet:has(> .add-to-homescreen-outlet__content) {
  visibility: visible;
  display: block;
}

.add-to-homescreen-outlet:has(> .animate) {
  opacity: 1;
}
